@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Rubik:wght@300&display=swap');

body {
    background-color: red;
    margin: 0;
    filter:brightness(115%);
}

#navBarContainer {
    display: flex;
    background-color: rgb(77, 77, 230);
    justify-content:space-evenly;
    font-size: 15px;
    align-items: center;
    padding: 1vw;
    font-family: sans-serif;
    font-weight: 600;
}

#discordLogoButton {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0.25;
}

.discordLogo {
    display: flex;
}

#pageLinks {
    display: flex;
    justify-content:center;
    gap: 15%;
    padding: 0 10%;
}

#openDiscordButtonContainer {
    display: flex;
    flex-grow: 0.2;
}

#openDiscordButton {
    display: flex;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.navBarElement {
    text-decoration: none;
    color: white;
}

#topPanel {
    display: flex;
    background-color: rgb(64, 78, 237);
    height: 60vh;
    align-items: flex-end;
    flex-direction: row;
}

.topPanelImages {
    display: flex;
}

.topPanelImage1 {
    display: flex;
    z-index: 1;
    position: relative;
    left: -5%;
    padding: 0px;
}    

/* This image needs to be sized to 2560px and then shrunk down with aspect ratio to 1920 (I think)    */
.topPanelBackgroundImage {
    display: flex;
    position: absolute;
    z-index: 0;
    width: 100%;
}

.topPanelImage3 {
    display: flex;
    position: relative;
    z-index: 1;
    left: -5%;
}

#topPanelContent {
    display: flex;
    position: relative;
    left: -5%;
    height: 85%;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}

#topPanelTitle {
    display: flex;
    justify-content: center;
    font-weight: 900;
    color: white;
    margin: 0px;
    white-space: nowrap;
    font-family: 'Belanosima', sans-serif;
    font-size: 500%;
}

#topPanelText {
    display: flex;
    text-align:center;
    line-height: 1.625;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 124%;
    width: 110%;   
}

#p1ContentButtons {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

#p1DlButtonLogo {
    position: relative;
    top: 8%;
}

#p1DlForWindowsButton {
    text-decoration: none;
    height: 100%;
    color: black;
    padding: 0% 7%;
    border-radius: 50px;
    border: 0;
    background-color: white;
    line-height: 3;
}

#p1OpenInBrowserButton {
    text-decoration: none;
    height: 100%;
    color: white;
    padding: 0% 5%;
    border-radius: 50px;
    border: 0;
    background-color: black;
    line-height: 3;
}

@keyframes contentAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#secondPanel {
    display: flex;
    background-color: white;
    height: 80vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.studyGroupPicture {
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p2Content {
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

#p2Title {
    font-size: 50px;
    font-weight: 700;
    max-height: 70%;
}

#p2Text {
    font-size: 24px;
    color: rgb(35,39,42);
}

#thirdPanel {
    display: flex;
    background-color: rgb(212, 212, 212);
    height: 80vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.chatRoomPicture {
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p3Content {
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

#p3Title {
    font-size: 56px;
    font-weight: 700;
}

#p3Text {
    font-size: 24px;
    color: rgb(35,39,42);
}

#fourthPanel {
    display: flex;
    background-color: white;
    height: 80vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.rolesPicture {
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p4Content {
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

#p4Title {
    font-size: 56px;
    font-weight: 700;
}

#p4Text {
    font-size: 24px;
    color: rgb(35,39,42);
}

#fifthPanel {
    display: flex;
    background-color: rgb(212, 212, 212);
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

.videoChatPicture {
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p5Content {
    display: flex;
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
    flex-direction: column;
    align-items: center;
}

#p5Title {
    font-size: 56px;
    font-weight: 700;
    width: 50vw;
    font-family: 'Belanosima', sans-serif;
    margin: 40px;
    margin-top: 100px;
}

#p5Text {
    font-size: 19px;
    color: rgb(35,39,42);
    margin: 0;
    width: 51vw;
    text-align: center;
    line-height: 1.5;
}

#bottomPanel {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;

}
#bpStars {
    position: relative;
    top: -100px;
}

#bpTitle {
    font-size: 32px;
}
#bpDlForWindowsButton {
    text-decoration: none;
    height: 100%;
    /* width: 5%; */
    color: white;
    padding: 0% 3%;
    border-radius: 50px;
    border: 0;
    background-color: rgb(88, 101, 242);
    line-height: 3;
}

#bpDlButtonLogo {
    position: relative;
}

#footer1 {
    display: flex;
    height: 70vh;
    background-color: rgb(35, 39, 42);
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
}

#langsLinks {
    width: 13%;
    padding-top: 5%;
}

#langs {
    display: flex;
    align-items: center;
    padding-bottom: 20%;
}

#langSelectorText {
    padding-left: 10px;
    color: white;
}

#socialMediaIcons {
    display: flex;
    justify-content: space-between;
}

.footerTitle {
    color: rgb(88, 101, 242);
    padding-bottom: 25px;
    padding-top: 80px;
}

.footerText {
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.footerList {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

#pageBottom {
    display: flex;
    height: 15vh;
    background-color: rgb(35, 39, 42);
    justify-content: center;
}

#pBottomLinks {
    display: flex;
    width: 60%;
    height: 20%;
    justify-content:space-between;
    border-top: 1px solid rgb(88, 101, 242);
    padding-top: 40px;
}

#pbOpenDiscordButton {
    display: flex;
    background-color: rgb(88, 101, 242);
    color: white;
    padding: 10px 10px;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}