/* 
@font-face {
    font-family: "Rubik", sans-serif;
    src: local("Resources\discord-font\Rubik_Font\Rubik-VariableFont_wght.ttf"), url(Resources\discord-font\Rubik_Font\Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Belanosima", sans-serif;
    src: local("Resources\title-font\Belanosima\Belanosima-Regular.ttf"), url(Resources\title-font\Belanosima\Belanosima-Regular.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Rubik:wght@300&display=swap');

body {
    background-color: red;
    /* border: 5px solid yellow; */
    margin: 0;
    filter:brightness(115%);
}



#navBarContainer {
    /* border: 10px solid green; */
    display: flex;
    background-color: rgb(77, 77, 230);
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content:space-evenly;
    font-size: 15px;
    align-items: center;
    /* justify-items: center; */
    /* font-weight: 500; */
    padding: 1vw;
    /* color: white; */
    font-family: sans-serif;
    font-weight: 600;
    
}

#discordLogoButton {
    /* border: 5px solid green; */
    /* background-color: rgb(83, 83, 204); */
    display: flex;
    /* padding: 0 18%; */
    justify-content: flex-end;
    flex-grow: 0.25;
    
    
    
}

.discordLogo {
    /* border: 5px solid green; */
    /* background-color: rgb(83, 83, 204); */
    display: flex;
}

#pageLinks {
    /* border: 6px solid yellow; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content:space-between; */
    justify-content:center;
    
    
    /* align-items: center; */
    gap: 15%;
    padding: 0 10%;
    /* background-color: rgb(83, 83, 204); */
}

#openDiscordButtonContainer {
    display: flex;
    /* border: 5px solid orange; */
    flex-grow: 0.2;
}

#openDiscordButton {
    display: flex;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    
    /* border: 5px solid orange; */
    /* justify-content: center; */
    /* flex-grow: 0.6; */
    /* padding: 0 1%; */
}

/* .discordIcon {
    display: flex;
    flex-grow: 0.4;
    justify-content: center;
} */


.navBarElement {
    /* border: 3px solid red; */
    /* background-color: rgb(83, 83, 204); */
    text-decoration: none;
    color: white;
}

/* .box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 20px;
    width: 300px;
} */

#topPanel {
    /* border: 5px solid green; */
    display: flex;
    background-color: rgb(64, 78, 237);
    height: 60vh;
    align-items: flex-end;
    
    flex-direction: row;

    /* height: 550px; */
    /* max-width: 100%; */
    
    /* padding: 5% 0%; */
    /* position: relative; */

    
    
}

.topPanelImages {
    /* border: 3px solid yellow; */
    display: flex;
    
    
}

.topPanelImage1 {
    /* border: 3px solid black; */
    display: flex;
    z-index: 1;
    position: relative;
    left: -5%;
    /* top: 280px; */
    /* bottom: -60px; */
    /* left: -30px; */
    padding: 0px;
    
   
}    


/* This image needs to be sized to 2560px and then shrunk down with aspect ratio to 1920 (I think)    */
.topPanelBackgroundImage {
    /* border: 3px solid black; */
    display: flex;
    position: absolute;
    /* top: 55px; */
    /* left: -700px; */
    /* top: -100px; */
    z-index: 0;
    /* height: 100%; */
    width: 100%;
    /* padding: 0px; */

    
    /* max-width: 100%; */
    /* aspect-ratio: auto; */   
}

.topPanelImage3 {
    /* border: 3px solid black; */
    display: flex;
    position: relative;
    /* left: 1500px; */
    /* left: -1300px; */
    /* top: 315px; */
    z-index: 1;
    left: -5%;
}

#topPanelContent {
    /* border: 3px solid black; */
    display: flex;
    position: relative;
    left: -5%;
    /* padding: 2.5% 0px; */
    height: 85%;
    /* left: 700px; */
    /* left: -2500px; */
    align-items: center;
    z-index: 1;
    flex-direction: column;
}

#topPanelTitle {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    /* position: relative; */
    font-weight: 900;
    color: white;
    margin: 0px;
    white-space: nowrap;
    /* height: 50px; */
    font-family: 'Belanosima', sans-serif;
    font-size: 500%;
}

#topPanelText {
    /* border: 3px solid yellow; */
    display: flex;
    text-align:center;
    line-height: 1.625;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 124%;
    width: 110%;   
}

#p1ContentButtons {
    /* border: 3px solid yellow; */
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

#p1DlButtonLogo {
    position: relative;
    top: 8%;
}

#p1DlForWindowsButton {
    /* border: 3px solid red; */
    text-decoration: none;
    height: 100%;
    color: black;
    padding: 0% 7%;
    border-radius: 50px;
    border: 0;
    background-color: white;
    line-height: 3;
}

#p1OpenInBrowserButton {
    /* border: 3px solid red; */
    text-decoration: none;
    height: 100%;
    color: white;
    padding: 0% 5%;
    border-radius: 50px;
    border: 0;
    background-color: black;
    line-height: 3;
}

@keyframes contentAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#secondPanel {
    /* border: 3px solid yellow; */
    display: flex;
    background-color: white;
    height: 80vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.studyGroupPicture {
    /* border: 3px solid orange; */
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p2Content {
    /* border: 3px solid orange; */
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

#p2Title {
    /* border: 3px solid green; */
    font-size: 50px;
    font-weight: 700;
    max-height: 70%;
}

#p2Text {
    /* border: 3px solid black; */
    font-size: 24px;
    color: rgb(35,39,42);
}

#thirdPanel {
    /* border: 3px solid yellow; */
    display: flex;
    background-color: rgb(212, 212, 212);
    height: 80vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.chatRoomPicture {
    /* border: 3px solid orange; */
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p3Content {
    /* border: 3px solid orange; */
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

#p3Title {
    /* border: 3px solid green; */
    font-size: 56px;
    font-weight: 700;
}

#p3Text {
    /* border: 3px solid black; */
    font-size: 24px;
    color: rgb(35,39,42);
}

#fourthPanel {
    /* border: 3px solid yellow; */
    display: flex;
    background-color: white;
    height: 80vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.rolesPicture {
    /* border: 3px solid orange; */
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p4Content {
    /* border: 3px solid orange; */
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

#p4Title {
    /* border: 3px solid green; */
    font-size: 56px;
    font-weight: 700;
}

#p4Text {
    /* border: 3px solid black; */
    font-size: 24px;
    color: rgb(35,39,42);
}

#fifthPanel {
    /* border: 3px solid yellow; */
    display: flex;
    background-color: rgb(212, 212, 212);
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

.videoChatPicture {
    /* border: 3px solid orange; */
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
}

.p5Content {
    /* border: 3px solid orange; */
    display: flex;
    width: 25%;
    height: 75%;
    position: relative;
    top: 50px;
    animation-name: contentAnimation;
    transform:translateY(-50px);
    transition: all 1s;
    animation-duration: 1s;
    flex-direction: column;
    align-items: center;
    /* justify-items: center; */
}

#p5Title {
    /* border: 3px solid green; */
    font-size: 56px;
    font-weight: 700;
    width: 50vw;
    font-family: 'Belanosima', sans-serif;
    
    margin: 40px;
    margin-top: 100px;
}

#p5Text {
    /* border: 3px solid black; */
    font-size: 19px;
    color: rgb(35,39,42);
    margin: 0;
    width: 51vw;
    text-align: center;
    line-height: 1.5;
}

#bottomPanel {
    /* border: 3px solid yellow; */
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;

}
#bpStars {
    position: relative;
    top: -100px;
}

#bpTitle {
    font-size: 32px;
}
#bpDlForWindowsButton {
    /* border: 3px solid red; */
    text-decoration: none;
    height: 100%;
    /* width: 5%; */
    color: white;
    padding: 0% 3%;
    border-radius: 50px;
    border: 0;
    background-color: rgb(88, 101, 242);
    line-height: 3;
}

#bpDlButtonLogo {
    position: relative;
    /* top: 8%; */
}

#footer1 {
    display: flex;
    height: 70vh;
    background-color: rgb(35, 39, 42);
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
}

#langsLinks {
    /* border: 3px solid red; */
    width: 13%;
    padding-top: 5%;
}

#langs {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    padding-bottom: 20%;
}

#langSelectorText {
    padding-left: 10px;
    color: white;
}

#socialMediaIcons {
    display: flex;
    justify-content: space-between;
}

.footerTitle {
    color: rgb(88, 101, 242);
    padding-bottom: 25px;
    padding-top: 80px;
}

.footerText {
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.footerList {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

#pageBottom {
    border: 5px solid orange;
    height: 20vh;
    background-color: rgb(35, 39, 42);
}

#pBottomLinks {
    width: 50%;
}

#pbOpenDiscordButton {
    border: 5px solid orange;
    display: flex;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    
    
}